@import "../../../../styles.variables.scss";

::ng-deep .mat-card-header-text {
  margin: 0px;
}

mat-card-header {
  font-weight: 500;
}

.card {
  padding: 2vh 3vw;
  margin: 3vw 3vh;
  border: 1px solid $form-border;
}

// mat-list-option {
//   display: flex;
//   flex-wrap: wrap;
// }
