<mat-card class="card">
  <mat-card-header>
    <p>{{ question?.questionText }}</p>
  </mat-card-header>
  <mat-card-content>
    <ng-template
      *ngIf="!(correctAnswerCount() > 1); then radioChoice; else multipleChoice"
    ></ng-template>
    <ng-template #multipleChoice>
      <form [formGroup]="questionForm">
        <mat-selection-list
          [multiple]="correctAnswerCount() > 1"
          (selectionChange)="onSelectAnswer($event)"
        >
          <div mat-subhead *ngIf="question?.hintText" class="hint">
            {{ question?.hintText }}
          </div>
          <div
            formArrayName="answersArray"
          >
            <mat-list-option
            *ngFor="let answer of question.answers; let i = index; last as last"
              checkboxPosition="before"
              [value]="answer"
              class="item"
              formControlName="i"
            >
              <div class="item-multiple">
                <p>{{ answer.answerText }}</p>
              </div>
              <mat-divider *ngIf="!last"></mat-divider>
            </mat-list-option>
          </div>
        </mat-selection-list>
      </form>
    </ng-template>
    <ng-template #radioChoice>
      <form [formGroup]="questionForm">
        <mat-selection-list
          [multiple]="correctAnswerCount() > 1"
          [(ngModel)]="selectedAnswers"
          (ngModelChange)="onAnswerSelectionChange($event)"
          (selectionChange)="onSelectAnswer($event)"
        >
          <div mat-subhead *ngIf="question?.hintText">
            {{ question?.hintText }}
          </div>
          <mat-list-option
            *ngFor="let answer of question.answers; let i = index; last as last"
            [value]="answer"
            class="item"
            [formControl]="answersArray[i]"
          >
            <div class="item-radio">
              <mat-radio-button
                [value]="answer"
                [checked]="answer.id === selectedAnswers[0]?.id"
              >
                <p>{{ answer.answerText }}</p></mat-radio-button
              >
            </div>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-option>
        </mat-selection-list>
      </form>
    </ng-template>
  </mat-card-content>
</mat-card>