<div class="cards">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        {{ "testing.quiz" | translate: { testName: testName } }}</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="quiz-url">
        <p>
          <strong>{{ "testing.quiz-url-strong" | translate }}: </strong>
          {{ getTestingUrl() }}
        </p>
        <button mat-button (click)="copyUrlToClipboard(inputUrl)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
      <p>
        <strong>{{ "testing.interviewee-strong" | translate }}: </strong>
        {{ intervieweeName() }}
      </p>
      <p>
        <strong>{{ "testing.number-of-attempts-strong" | translate }}: </strong>
        <span *ngIf="testing?.numberOfRuns">{{ numberOfRuns() }}</span>
        <span *ngIf="!testing?.numberOfRuns">{{
          "testing.unlimited" | translate
        }}</span>
      </p>
      <p>
        <strong>{{ "testing.start-date-strong" | translate }}: </strong>
        {{ allowedStartDate() }}
      </p>
      <p>
        <strong>{{ "testing.end-date-strong" | translate }}: </strong>
        {{ allowedEndDate() }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<input type="hidden" value="" #inputUrl />
