@import "../../../styles.variables.scss";
$margin-left: 15px;

mat-checkbox {
  font-size: smaller;
}

.cards {
  width: 100%;
  .card {
    padding: 2vh 3vw;
    margin: 3vw 3vh;
    mat-card-actions {
      margin-bottom: 1vh;
      button {
        margin: 0 8px;
      }
      button:hover,
      a:hover {
        color: inherit;
        background-color: $accent-light;

        :host-context(.darkMode) & {
          background-color: $accent-dark;
        }
      }
    }
  }
}
.quiz-url {
  display: flex;
  flex-wrap: wrap;
  button {
    margin-left: 10px;
  }
}
