<div class="cards">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title> Quizz: {{ testName }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="quizz-url">
        <p>
          <strong>Quizz Url: </strong>
          {{ getTestingUrl() }}
        </p>
        <button mat-button (click)="copyUrlToClipboard(inputUrl)">
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
      <p>
        <strong>Interviewee: </strong>
        {{ intervieweeName() }}
      </p>
      <p>
        <strong>Number of left attempts: </strong>
        {{ numberOfRuns() }}
      </p>
      <p>
        <strong>Start date: </strong>
        {{ allowedStartDate() }}
      </p>
      <p>
        <strong>End date: </strong>
        {{ allowedEndDate() }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<input type="hidden" value="" #inputUrl />
