@import "~@angular/material/theming";
$warn-background: #ffe3e6;
$login-background: #f6f2fc;
$login-border: #e9e1f5;

.sign-form {
  width: 360px;
  p {
    font-size: 1.7em;
    text-align: center;
  }
  form {
    border: 1px solid $login-border;
    border-radius: 5px;
    background-color: $login-background;
    padding: 10% 7%;

    mat-form-field {
      display: block;
      input {
        padding: 3px;
      }
    }

    button {
      width: 100%;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  .main {
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
  }
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.7em 0px !important;
}

@media only screen and (max-width: 380px) {
  .sign-form {
    width: 240px;
  }
}

.error-div {
  background-color: $warn-background;
  border-radius: 5px;
  padding: 3px 25px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  p {
    font-size: smaller;
  }
}
