<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ test?.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="testing?.intervieweeName">
      {{ "pages.quiz-page.test-info.interviewee" | translate }}:
      {{ testing?.intervieweeName }}
    </p>
    <mat-form-field *ngIf="!testing?.intervieweeName">
      <mat-label>
        {{ "pages.quiz-page.test-info.enter-name" | translate }}</mat-label
      >
      <input [formControl]="intervieweeInput" matInput />
    </mat-form-field>
    <div class="error-div">
      <div *ngIf="submitted && intervieweeInput?.errors?.required">
        <p>
          {{ "pages.quiz-page.test-info.enter-name-before-start" | translate }}
        </p>
      </div>
    </div>
    <p>
      {{ "pages.quiz-page.test-info.left-number-attempts" | translate }}:
      {{ numberOfRuns() }}
    </p>
    <p *ngIf="testing?.allowedStartDate">
      {{ "pages.quiz-page.test-info.start-date" | translate }}:
      {{ allowedStartDate() }}
    </p>
    <p *ngIf="testing?.allowedEndDate">
      {{ "pages.quiz-page.test-info.end-date" | translate }}:
      {{ allowedEndDate() }}
    </p>
    <p *ngIf="test?.testTimeLimit">
      {{ "pages.quiz-page.test-info.quiz-has" | translate }}
      <strong> {{ "pages.quiz-page.test-info.time-limit" | translate }}</strong
      >: {{ testTimeLimit() }}
    </p>
    <p *ngIf="test?.questionTimeLimit">
      {{ "pages.quiz-page.test-info.quiz-has" | translate }}
      <strong>{{
        "pages.quiz-page.test-info.question-time-limit" | translate
      }}</strong
      >:
      {{ questionTimeLimit() }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onPressStart()">
      {{ "pages.quiz-page.test-info.start-quiz" | translate | uppercase }}
    </button>
  </mat-card-actions>
</mat-card>
