<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ test?.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="testing?.intervieweeName">
      Interviewee: {{ testing?.intervieweeName }}
    </p>
    <mat-form-field *ngIf="!testing?.intervieweeName">
      <mat-label>Enter your name</mat-label>
      <input [formControl]="intervieweeInput" matInput />
    </mat-form-field>
    <div class="error-div">
      <div *ngIf="submitted && intervieweeInput?.errors?.required">
        <p>Enter your name before starting quiz</p>
      </div>
    </div>
    <p>Left number of attempts: {{ numberOfRuns() }}</p>
    <p *ngIf="testing?.allowedStartDate">
      Start date: {{ allowedStartDate() }}
    </p>
    <p *ngIf="testing?.allowedEndDate">End date: {{ allowedEndDate() }}</p>
    <p *ngIf="test?.testTimeLimit">
      This quiz has <strong>time limit</strong>: {{ testTimeLimit() }}
    </p>
    <p *ngIf="test?.questionTimeLimit">
      This quiz has <strong>question time limit</strong>: {{ questionTimeLimit() }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onPressStart()">
      START QUIZ
    </button>
  </mat-card-actions>
</mat-card>
