@import "../../../../styles.variables.scss";

.card {
  padding: 2vh 3vw;
  margin: 3vw 3vh;
  background-color: $primary-background;
  border: 1px solid $form-border;
  mat-card-actions {
    margin-bottom: 1vh;
    button {
      margin: 0 8px;
    }
    button:hover,
    a:hover {
      color: inherit;
      background-color: $amber;
    }
    .delete-button:hover {
      color: white;
      background-color: $warn;
    }
  }
}
