@import "../../../styles.variables.scss";
$left-margin: 15px;

mat-form-field {
  width: 100%;
}

.question-form {
  padding: 15px;
  margin: $left-margin;
  border: 2px solid $primary-light;
  border-radius: 6px;

  :host-context(.darkMode) & {
    border: 2px solid $primary-dark;
  }
}

form {
  display: inline;
}

.error-border {
  border: 2px solid $warn;
}

.answers {
  display: flex;
  flex-wrap: wrap;

  .answer-form {
    margin: 5vh 1vw;
  }
}

mat-checkbox {
  font-size: smaller;
}

.bottom-buttons {
  display: inline;
  margin-left: $left-margin;
  button + button {
    margin-left: $left-margin;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
}

button:not(.mat-icon-button):hover {
  color: inherit;
  background-color: $accent-light;

  :host-context(.darkMode) & {
    background-color: 2px solid $accent-dark;
  }
}

.error-div {
  p {
    font-size: small;
    color: $warn;
  }
}
