<form [formGroup]="testForm">
  <div formArrayName="questions">
    <div
      *ngFor="let questionForm of questionsArray.controls; let i = index"
      class="question-form"
      [class.error-border]="questionForm.invalid && submitted"
    >
      <div [formGroup]="questionForm">
        <div class="card-header">
          <p>{{ i + 1 + "." }}</p>
          <button mat-icon-button type="button">
            <mat-icon (click)="onDeleteQuestion(i)" color="warn"
              >cancel</mat-icon
            >
          </button>
        </div>
        <mat-form-field>
          <mat-label>{{ "add-question.question" | translate }}</mat-label>
          <input matInput formControlName="questionText" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "add-question.hint" | translate }}</mat-label>
          <input matInput formControlName="hintText" />
        </mat-form-field>

        <div class="answers" formArrayName="answers">
          <div
            *ngFor="let answer of getAnswersArray(i).controls; let z = index"
            class="answer-form"
          >
            <mat-card>
              <div [formGroup]="answer">
                <div class="card-header">
                  <p>{{ z + 1 + "." }}</p>
                  <button mat-icon-button class="delete-button" type="button">
                    <mat-icon (click)="onDeleteAnswer(i, z)" color="warn"
                      >cancel</mat-icon
                    >
                  </button>
                </div>
                <mat-form-field>
                  <mat-label>{{ "add-question.answer" | translate }}</mat-label>
                  <input formControlName="answerText" matInput />
                </mat-form-field>
                <mat-checkbox formControlName="isCorrect">{{
                  "add-question.correct-checkbox" | translate
                }}</mat-checkbox>
              </div>
            </mat-card>
            <div
              *ngIf="
                testForm.controls.questions.controls[i].controls.answers
                  .controls[z].controls.answerText.errors?.required && submitted
              "
              class="error-div"
            >
              <p>{{ "add-question.error.answer-required" | translate }}</p>
            </div>
          </div>
        </div>

        <div
          *ngIf="
            testForm.controls.questions.controls[i].controls.questionText.errors
              ?.required && submitted
          "
          class="error-div"
        >
          <p>{{ "add-question.error.question-required" | translate }}</p>
        </div>
        <div
          *ngIf="
            testForm.controls.questions.controls[i].controls.answers?.errors
              ?.error === 'No correct answers' && submitted
          "
          class="error-div"
        >
          <p>{{ "add-question.error.one-correct-answer" | translate }}</p>
        </div>
        <button
          (click)="onAddAnswer(i)"
          mat-raised-button
          color="primary"
          type="button"
        >
          <span>{{ "add-question.add-answer" | translate }}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="bottom-buttons">
    <button
      type="button"
      (click)="onAddQuestion()"
      mat-raised-button
      color="primary"
    >
      <span>{{ "add-question.add-question" | translate }}</span>
    </button>
    <button
      type="submit"
      (click)="onSubmit()"
      mat-raised-button
      color="primary"
    >
      <span>{{ "add-question.next" | translate }}</span>
    </button>
  </div>
</form>
