<form #questionForm="ngForm">
  <div
    *ngFor="let question of questions; let i = index"
    class="question-form"
    [class.error-border]="noCorrectAnswerError.get(i)"
  >
    <div name="{{ 'qForm' + i }}">
      <div class="card-header">
        <p>{{ i + 1 + "." }}</p>
        <button mat-icon-button type="button">
          <mat-icon (click)="onDeleteQuestion(question)" color="warn"
            >cancel</mat-icon
          >
        </button>
      </div>
      <mat-form-field>
        <mat-label>Question</mat-label>
        <input
          matInput
          name="{{ 'qText' + i }}"
          [(ngModel)]="question.questionText"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Hint</mat-label>
        <input
          matInput
          name="{{ 'qHint' + i }}"
          [(ngModel)]="question.hintText"
        />
      </mat-form-field>

      <div class="answers">
        <div
          *ngFor="let answer of question.answers; let z = index"
          class="answer-form"
        >
          <mat-card>
            <div>
              <div class="card-header">
                <p>{{ z + 1 + "." }}</p>
                <button mat-icon-button class="delete-button" type="button">
                  <mat-icon
                    (click)="onDeleteAnswer(question, answer)"
                    color="warn"
                    >cancel</mat-icon
                  >
                </button>
              </div>
              <mat-form-field>
                <mat-label>Answer</mat-label>
                <input
                  matInput
                  name="{{ 'ansText' + i + ':' + z }}"
                  [(ngModel)]="answer.answerText"
                  required
                />
              </mat-form-field>
              <mat-checkbox
                (change)="clearAnswerError()"
                name="{{ 'ansCorrect' + i + ':' + z }}"
                [(ngModel)]="answer.isCorrect"
                >Is correct</mat-checkbox
              >
            </div>
          </mat-card>
        </div>
      </div>
      <div *ngIf="noCorrectAnswerError.get(i) === true" class="error-div">
        <p>Select at least 1 correct answer</p>
      </div>
      <button
        (click)="onAddAnswer(question)"
        mat-raised-button
        color="primary"
        type="button"
      >
        <span>Add answer</span>
      </button>
    </div>
  </div>

  <div class="bottom-buttons">
    <button
      type="button"
      (click)="onAddQuestion()"
      mat-raised-button
      color="primary"
    >
      <span>Add question</span>
    </button>
    <button 
      type="submit"
      (click)="onSubmit(questionForm)"
      mat-raised-button
      color="primary"
    >
      <span>Next</span>
    </button>
  </div>
</form>
