<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>{{
      "pages.edit-test-page.fill-quiz-properties" | translate
    }}</ng-template>
    <div>
      <app-create-test
        [testForm]="testForm"
        (testPropertiesSubmit)="onTestPropertiesSubmit(stepper)"
      ></app-create-test>
      <button [routerLink]="['home']" mat-raised-button>
        {{ "pages.edit-test-page.cancel" | translate }}
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{
      "pages.edit-test-page.add-questions" | translate
    }}</ng-template>
    <div>
      <app-add-question
        [testForm]="testForm"
        (questionDelete)="onQuestionDelete($event)"
        (answerDelete)="onAnswerDelete($event)"
        (questionsSubmit)="onQuestionsSubmit(stepper)"
      ></app-add-question>
      <button
        mat-raised-button
        color="primary"
        (click)="goToTestProperties(stepper)"
      >
        {{ "pages.edit-test-page.back" | translate }}
      </button>
      <button [routerLink]="['home']" mat-raised-button>
        {{ "pages.edit-test-page.cancel" | translate }}
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{
      "pages.edit-test-page.quiz-overview" | translate
    }}</ng-template>
    <div>
      <app-test-overview [test]="test"></app-test-overview>
      <button
        mat-raised-button
        color="primary"
        (click)="goToQuestions(stepper)"
      >
        {{ "pages.edit-test-page.back" | translate }}
      </button>
      <button (click)="onSubmit()" mat-raised-button color="primary">
        {{ "pages.edit-test-page.submit" | translate }}
      </button>
      <button [routerLink]="['home']" mat-raised-button>
        {{ "pages.edit-test-page.cancel" | translate }}
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
