@import "../../../styles.variables.scss";
$margin: 15px;

mat-form-field {
  display: block;
}

form {
  max-width: 500px;
}

.form {
  padding: $margin;
  margin: $margin;
  border: 2px solid $primary;
  border-radius: 6px;
}

button {
  margin-left: $margin;
}

button:hover {
  color: inherit;
  background-color: $amber;
}

.date {
    max-width: 200px;
}