@import "../../../styles.variables.scss";
$margin: 15px;

mat-form-field {
  display: block;
}

form {
  max-width: 500px;
}

.form {
  padding: $margin;
  margin: $margin;
  border: 2px solid $primary-light;
  border-radius: 6px;

  :host-context(.darkMode) & {
    border: 2px solid $primary-dark;
  }
}

button {
  margin-left: $margin;
}

button:hover {
  color: inherit;
  background-color: $accent-light;
  
  :host-context(.darkMode) & {
    background-color: $accent-dark;
  }
}

.datetime-input {
  display: flex;
  flex-wrap: wrap;
  .date {
    max-width: 200px;
  }
  .time {
    max-width: 200px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
