@import "../../../styles.variables.scss";
$margin: 15px;

.heading {
  margin-left: $margin;
}

button {
  margin-left: $margin;
}

button:hover {
  color: inherit;
  background-color: $accent-light;

  :host-context(.darkMode) & {
    background-color: $accent-dark;
  }
}

.hidden {
  display: none;
}
