<nav class="mat-elevation-z6">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="home-page" class="mat-raised-button">
        <span class="mat-button-wrapper">Tests</span>
      </a>
      <a routerLink="create-test" class="mat-raised-button">
        <span class="mat-button-wrapper">Create test</span>
      </a>
      <div *ngIf="user" class="left-menu-wrapper">
        <div>
          <span>
            {{ user.username }}
          </span>
          <button
            mat-mini-fab
            [matMenuTriggerFor]="menu"
            color="primary"
            class="menu-btn"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
      <div *ngIf="!user" class="left-menu-wrapper">
        <a routerLink="login-page" class="mat-button">Sign in</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
