@import "../../../styles.variables.scss";

nav {
  z-index: 10;
  a,
  button {
    margin: 1vw;
  }
  a:focus,
  a:hover,
  button:hover,
  button:focus {
    color: inherit;
    background-color: $accent-light;

    :host-context(.darkMode) & {
      background-color: $accent-dark;
    }
  }
  .left-menu-wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    span {
      font-size: smaller;
    }
  }
}
