@import "../../../styles.variables.scss";

nav {
  .spacer {
    flex: 1 1 auto;
  }
  a,
  button {
    margin: 1vw;
  }
  a:focus,
  a:hover,
  button:hover,
  button:focus {
    color: inherit;
    background-color: $amber;
  }
}
