<nav class="mat-elevation-z6">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a *ngIf="user" routerLink="home-page" class="mat-raised-button">
        <span class="mat-button-wrapper">{{
          "navbar.quizzes" | translate
        }}</span>
      </a>
      <a *ngIf="user" routerLink="create-test" class="mat-raised-button">
        <span class="mat-button-wrapper">{{
          "navbar.create" | translate
        }}</span>
      </a>
      <a *ngIf="user" routerLink="testing" class="mat-raised-button">
        <span class="mat-button-wrapper">{{ "navbar.links" | translate }}</span>
      </a>
      <div class="left-menu-wrapper">
        <span *ngIf="user">
          {{ user.username }}
        </span>
        <div *ngIf="!user">
          <a routerLink="login-page" class="mat-button">{{
            "navbar.signin" | translate
          }}</a>
        </div>
        <button
          mat-mini-fab
          [matMenuTriggerFor]="menu"
          color="primary"
          class="menu-btn"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="languages">
            <span>{{ "navbar.menu.language" | translate }}:</span>
            <span>
              {{ "navbar.menu.langs." + currentLanguage | translate }}</span
            >
          </button>
          <div mat-menu-item>
            <mat-slide-toggle [formControl]="toggleControl" class="mr-8"
              ><span>{{
                "navbar.menu.dark-theme" | translate
              }}</span></mat-slide-toggle
            >
          </div>
          <button *ngIf="user" mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>{{ "navbar.menu.logout" | translate }}</span>
          </button>
        </mat-menu>

        <mat-menu #languages="matMenu">
          <div *ngFor="let lang of langs">
            <button mat-menu-item (click)="changeLanguage(lang)">
              {{ "navbar.menu.langs." + lang | translate }}
            </button>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
