@import "../../../styles.variables.scss";

nav {
  a,
  button {
    margin: 1vw;
  }
  a:focus,
  a:hover,
  button:hover,
  button:focus {
    color: inherit;
    background-color: $amber;
  }
  .left-menu-wrapper {
    margin-left: auto;
    span {
      font-size: smaller;
    }
  }
}
