<div class="main-wrapper">
  <p>
    <strong>{{ "test-overview.quiz-name-strong" | translate }}: </strong
    >{{ test?.name }}
  </p>
  <p>
    <strong>{{ "test-overview.description-strong" | translate }}: </strong
    >{{ test?.description }}
  </p>
  <p *ngIf="test?.testTimeLimit">
    <strong>{{ "test-overview.time-limit-strong" | translate }}: </strong>
    {{
      "test-overview.hours-minutes"
        | translate
          : {
              hours: test?.testTimeLimit?.hours(),
              minutes: test?.testTimeLimit?.minutes()
            }
    }}
  </p>
  <p *ngIf="test?.questionTimeLimit">
    <strong>{{ "test-overview.question-time-limit-strong" | translate }}: </strong>
    {{
      "test-overview.minutes-seconds"
        | translate
          : {
              minutes:  test?.questionTimeLimit?.minute(),
              seconds: test?.questionTimeLimit?.seconds()
            }
    }}
  </p>
  <div *ngFor="let question of test?.questions; let i = index">
    <div class="question-card">
      <span>{{ i + 1 + ". " }}</span>
      <span>{{ question.questionText }}</span>
      <p *ngIf="question?.hintText">
        <small>{{ question.hintText }}</small>
      </p>
      <p></p>
      <div *ngFor="let answer of question?.answers; let z = index">
        <span>{{ z + 1 + "). " }}</span>
        <mat-checkbox
          [ngModel]="answer['isCorrect']"
          [checked]="answer.isCorrect"
          [ngClass]="{ correct: answer.isCorrect }"
          onclick="return false;"
          >{{ answer.answerText }}</mat-checkbox
        >
      </div>
    </div>
  </div>
</div>
