@import "../../../styles.variables.scss";
$margin-left: 15px;

.question-card {
  padding: 15px;
  border: 2px solid $primary;
  border-radius: 6px;
  margin: 15px 0;
}

mat-checkbox {
  font-size: smaller;
}

.main-wrapper {
  margin: $margin-left;
  min-width: 50vw;
}
