@import "../../../styles.variables.scss";

.main {
  margin: 3vw 3vh;
}

.body {
  display: flex;
}

.test-name {
  font-size: 2em;
}

.time-div {
  display: flex;
  align-items: center;
  mat-icon {
    padding: 0 10px;
  }

  .time {
    display: flex;
    align-items: center;
    margin: 0 15px;
  }
}

.mat-raised-button {
  background-color: $primary;
  color: white;
}
.mat-raised-button:hover {
  background-color: $amber;
  color: black;
}
