<form [formGroup]="testForm">
  <div class="form">
    <mat-form-field>
      <mat-label>{{ "create-test.quiz-name" | translate }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ "create-test.description" | translate }}</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-radio-group formControlName="timeOption" class="time-radio">
      <mat-radio-button checked>{{
        "create-test.no-time-limit" | translate
      }}</mat-radio-button>
      <mat-radio-button #radTestTime value="testTime">{{
        "create-test.quiz-time-limit" | translate
      }}</mat-radio-button>
      <mat-radio-button #radQuestionTime value="questionTime">{{
        "create-test.question-time-limit" | translate
      }}</mat-radio-button>
    </mat-radio-group>
    <div
      class="time-field"
      *ngIf="radTestTime.checked"
      formGroupName="testTimeLimit"
    >
      <mat-form-field>
        <input formControlName="hours" matInput type="number" />
        <span matSuffix>{{ "create-test.hours-short" | translate }}</span>
      </mat-form-field>
      <span>:</span>
      <mat-form-field>
        <input formControlName="minutes" matInput type="number" />
        <span matSuffix>{{ "create-test.minutes-short" | translate }}</span>
      </mat-form-field>
    </div>
    <div
      class="time-field"
      *ngIf="radQuestionTime.checked"
      formGroupName="questionTimeLimit"
    >
      <mat-form-field>
        <input formControlName="minutes" matInput type="number" />
        <span matSuffix>{{ "create-test.minutes-short" | translate }}</span>
      </mat-form-field>
      <span>:</span>
      <mat-form-field>
        <input formControlName="seconds" matInput type="number" />
        <span matSuffix>{{ "create-test.seconds-short" | translate }}</span>
      </mat-form-field>
    </div>
    <div class="error-div">
      <div *ngIf="testForm?.controls?.name?.errors?.required && submitted">
        <p>{{ "create-test.error.name-required" | translate }}</p>
      </div>
      <div
        *ngIf="testForm?.controls?.description?.errors?.required && submitted"
      >
        <p>{{ "create-test.error.description-required" | translate }}.</p>
      </div>
      <div
        *ngIf="testForm?.controls?.testTimeLimit?.get('hours')?.errors?.pattern"
      >
        <p>{{ "create-test.error.hours-range-0-9" | translate }}</p>
      </div>
      <div
        *ngIf="
          testForm?.controls?.testTimeLimit?.get('minutes')?.errors?.pattern
        "
      >
        <p>{{ "create-test.error.minutes-range-0-59" | translate }}</p>
      </div>
      <div
        *ngIf="
          testForm?.controls?.questionTimeLimit?.get('minutes')?.errors?.pattern
        "
      >
        <p>{{ "create-test.error.minutes-range-0-99" | translate }}</p>
      </div>
      <div
        *ngIf="
          testForm?.controls?.questionTimeLimit?.get('seconds')?.errors?.pattern
        "
      >
        <p>{{ "create-test.error.seconds-range-0-59" | translate }}</p>
      </div>
    </div>
  </div>
</form>
<button type="submit" (click)="onSubmit()" mat-raised-button color="primary">
  <span>{{ "create-test.next" | translate }}</span>
</button>
