@import "~@angular/material/theming";

@include mat-core();

$dark-background: #303030;

$accent-light: mat-color(mat-palette($mat-amber));
$primary-light: mat-color(mat-palette($mat-deep-purple));
$accent-dark: mat-color(mat-palette($mat-blue-grey));
$primary-dark: mat-color(mat-palette($mat-pink));
$warn: mat-color(mat-palette($mat-red));

$warn-background: #ffe3e6;
