/* You can add global styles to this file, and also import other style files */
@import "styles.variables.scss";
@import "styles/material-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.error-div {
  p {
    font-size: small;
    color: $warn;
  }
}
