@import "../../../../styles.variables.scss";

.control-buttons {
  margin: 3vw 3vh;
  button:hover {
    color: inherit;
    background-color: $accent-light;

    :host-context(.darkMode) & {
      background-color: $accent-dark;
    }
  }
  .buttons-wrapper {
    display: flex;
  }
  button {
    margin-left: auto;
  }
}
