@import "../../../styles.variables.scss";

button {
  margin-left: 3%;
}

button:not(.mat-icon-button):hover {
  color: inherit;
  background-color: $amber;
}

.mat-horizontal-stepper-header {
  pointer-events: none !important;
}
