<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Fill out quiz properties</ng-template>
    <div>
      <app-create-test
        [testForm]="testForm"
        (testPropertiesSubmit)="onTestPropertiesSubmit(stepper)"
      ></app-create-test>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Add some questions</ng-template>
    <div>
      <app-add-question
        [testForm]="testForm"
        (questionsSubmit)="onQuestionsSubmit(stepper)"
      ></app-add-question>
      <button
        mat-raised-button
        color="primary"
        (click)="goToTestProperties(stepper)"
      >
        Back
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Quiz overview</ng-template>
    <div>
      <app-test-overview [test]="test"></app-test-overview>
      <button
        mat-raised-button
        color="primary"
        (click)="goToQuestions(stepper)"
      >
        Back
      </button>
      <button (click)="onSubmit()" mat-raised-button color="primary">
        Submit
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
