<section class="cards">
  <div class="header">
    <div>
      <mat-form-field>
        <mat-label> Sort by </mat-label>
        <mat-select [formControl]="sortSelect">
          <mat-option value="name"> Name </mat-option>
          <mat-option value="date"> Date </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-card *ngFor="let test of tests" class="card">
    <mat-card-header>
      <mat-card-title>{{ test.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ test.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        [routerLink]="['create-testing', test.id]"
        mat-raised-button
        color="primary"
      >
        CREATE TESTING
      </button>
      <a [routerLink]="['test', test.id]" class="mat-raised-button">
        <span class="mat-button-wrapper">VIEW</span>
      </a>
      <a [routerLink]="['test/edit', test.id]" class="mat-raised-button">
        <span class="mat-button-wrapper">EDIT</span>
      </a>
      <button
        mat-raised-button
        (click)="onDeleteTest(test.id)"
        class="delete-button"
      >
        DELETE
      </button>
    </mat-card-actions>
  </mat-card>
</section>
