<section class="cards">
  <mat-card *ngFor="let test of tests" class="card">
    <mat-card-header>
      <mat-card-title>{{ test.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ test.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        [routerLink]="['create-testing', test.id]"
        mat-raised-button
        color="primary"
      >
        {{ "test-table.create-testing" | translate | uppercase }}
      </button>
      <a [routerLink]="['test', test.id]" class="mat-raised-button">
        <span class="mat-button-wrapper">{{
          "test-table.view" | translate | uppercase
        }}</span>
      </a>
      <a [routerLink]="['test/edit', test.id]" class="mat-raised-button">
        <span class="mat-button-wrapper">{{
          "test-table.edit" | translate | uppercase
        }}</span>
      </a>
      <button
        mat-raised-button
        (click)="onDeleteTest(test.id)"
        class="delete-button"
      >
        {{ "test-table.delete" | translate | uppercase }}
      </button>
    </mat-card-actions>
  </mat-card>
</section>
