@import "~@angular/material/theming";
$palette: mat-palette($mat-amber);

.cards {
  width: 100%;
  .card {
    padding: 2vh 3vw;
    margin: 3vw 3vh;
    mat-card-actions {
      margin-bottom: 1vh;
    }
    button:hover {
      color: inherit;
      background-color: mat-color($palette);
    }
  }
}
