@import "../../../styles.variables.scss";

.cards {
  width: 100%;
  .card {
    padding: 2vh 3vw;
    margin: 3vw 3vh;
    background-color: $primary-background;
    border: 1px solid $form-border;
    mat-card-actions {
      margin-bottom: 1vh;
    }
    button:hover {
      color: inherit;
      background-color: $amber;
    }
  }
}
